.nav-item a {
    color: #fff;

}

.nav-item:hover {
    background-color: #fff;
    border-radius: .15cm;

}

.nav-item:hover a {
    color: #2780E3;

}

.grad-text {
    background: linear-gradient(to right, rgb(13, 18, 58) 0%, #5cecec 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.invoice-body {
    max-width: 100%;
    margin: auto;
    padding: 20px;
    border: 1px solid #eee;
    box-shadow: 0 0 10px rgba(0, 0, 0, .15);
}

.invoice-logo {
    height: 70px;
    width: 100px
}

.invoice-address p {
    margin: 0;
    font-style: italic
}

.invoice-receipent p {
    margin: 0;
}

.form-login {
    background-color: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 15px;
    border-color:#d2d2d2;
    border-width: 5px;
    box-shadow:0 1px 0 #cfcfcf;
}
.btn-login {
    text-align: center;
}
.login-card {
    margin-top: 150px
}
.login-head {
    text-align: center;
    border-bottom: 1px solid #007bff;
    color: #007bff;
    font-size: 28px;
    font-weight: bold
}